
.cancelBtn{
    width: 95%;
    margin: 0 auto;
    height: 45px;
}

.cancelBtnRow{
    margin-top: 20px;
}

.modalForm{
  	width: 390px;
	margin: 120px auto;
	padding: 25px 20px;
	background:white;
	border-radius: 5px;
	color: black;
     }
.modalForm h2{
  	margin-top: 0px;
	margin-bottom: 15px;
	padding-bottom: 5px;
	border-radius: 10px;
	border: 1px solid #25055f;
     }
.modalForm a{color: #783ce2;}
.modalForm a:hover{
  	text-decoration: none;
    	color: #03A9F4;
     }
.modalForm .checkbox-inline{padding-top: 7px;}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin-left: 150px;
}