.jumbotron {
  background-image: url(../../assets/sf.png);
  height: 160px;
  background-position: center;
  background-repeat: no-repeat;
  background-size:  100% auto;
  color: white;
}


@media only screen and (min-width: 960px) {
        /* styles for browsers larger than 960px; */
        .jumbotron{
            height: 560px;
        }    

        .title{
          color: blueviolet;
          margin-top: 200px;
          margin-left: 400px;
        }
}