
@media only screen and (max-width: 560px){
       .jumbotron{
            height: 360px;
            /* background-image: url(../../assets/JumbotronImage/sf.png); */
            background-position: center;
            background-repeat: no-repeat;
            background-size:  100% auto;
            color: white;
        }   
}

@media only screen and (min-width: 560px) {
        /* styles for browsers larger than 960px; */
        .jumbotron{
            height: 560px;
            background-image: url(../../assets/JumbotronImage/sf.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size:  100% auto;
            color: white;
        }    

        .title{
          color: blueviolet;
          margin-top: 200px;
          margin-left: 400px;
        }
}