
.footer{
  background-color: #3f3f3f;
  color: #d5d5dd;
  padding-top: 2rem;
}


ul li{
    display: inline;
}

.company-icon{
    width: 40px;
    margin: 0 10px;
}

.human-icon{
    width: 40px;
}

.social1{
    margin-left: -60px;
}

.social2{
    margin-left: -60px;
}

.team1{
    margin-top: -10px;
}
.team2{
    margin-top: -10px;
}
.team3{
    margin-top: -10px;
}

#name-group{
    margin: 0 10px;
}

@media only screen and (min-width: 960px){

.team1{
    margin-top: -10px;
}
.team2{
    margin-top: -20px;
}
.team3{
    margin-top: -20px;
}

.personlist{
    padding-left: 5rem;
}

}

@media only screen and (max-width: 576px){
    .col-md-4{
        padding-top: 2rem;
    }
}

