@media only screen and (max-width: 560px){
   .get-compelet-plan{
    width: 560px;
    margin: 6px auto 40px;
}
.complete-plan-title{
    width: 80%;
    text-align: center;
    font-weight: 900;
    line-height: 1.8;
    font-size: 2em;
    letter-spacing: -0.6px;
    margin: -20px 0 -20px 30px;
}

}

@media only screen and (min-width: 560px) {
.get-compelet-plan{
    width: 1000px;
    margin: 0px auto 40px;
}


.complete-plan-title{
    width: 100%;
    text-align: center;
    font-weight: 900;
    line-height: 1.8;
    font-size: 2.57em;
    letter-spacing: -0.6px;
    margin: -50px 0 -20px;
}

}




.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after {
    content: " ";
    display: table;
}