@media only screen and (max-width: 560px){
    h2.complete-plan-title{
        text-align: center;
        font-weight: 700;
        line-height: 1.8;
        font-size: 1.6rem;
        letter-spacing: 0.1px;
        margin: 10px 0 30px 30px;
    }

}

@media only screen and (min-width: 561px) {
h2.complete-plan-title{
    text-align: center;
    font-weight: 900;
    line-height: 1.8;
    font-size: 2rem;
    letter-spacing: -0.6px;
    margin: 20px 0 30px 30px;
}

}
