@import './App.css';
@import '~antd/dist/antd.css';
@import './pages/Plan/SideMenu.css';

body {
  margin: 0;
  font-family: 'Lato','Open Sans',-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
  float: left;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.plan-left-content {
  float: left;
  width: 50%;
}

.venueAvatar {
  width: 65px;
  height: 55px;
}

.ant-cascader-picker {
  float: left;
  margin-top: 1%;
}
/* .ant-list-vertical .ant-list-item-meta-title{
  display: flex
}

.ant-list-item-meta-description{
  display: flex
} */